body{
            background-color: mediumvioletred;
    
            }
            
            p{
                color: black;
                font-style:normal

            }
            
            p{
                
            }
            
            p{
                
                font-family:cursive
            }